<ul class="list-news-block view-all">    
    <li>
        <div class="modificationDate"></div> 
        <span class="title"></span>        
        <div class="shortText" ></div>    
        <div class = "menu-right">           
            <input class="link-view one-news-view" type="button"  data-i18n="[value]content.btnNewsView"/>
            <input class="link-view edit-form" type="button" data-i18n="[value]content.btnEditView"/>
            <input class="link-view delete-news" type="button" data-i18n="[value]content.btnDelete"/>   
        </div>   
    </li>
</ul>