<div class="accordion">
	<div class="accordion-section">
		<input class="accordion-section-title" name="#tags-block" type="button" data-i18n="[value]content.txtTags" />
		<div id="tags-block" class="accordion-section-content">
			<div id="tags-list">			
			</div>
			<form id= "add-tag-form" method="POST" action="javascript:void(null);" >
				<input class="text-tag" type="text"  maxlength="100" required data-i18n="[placeholder]content.addNewTag"/> 
				<input class="add-tag btn-default" type="submit" data-i18n="[value]content.addNew" /> 			
			</form>	
		</div>
	</div>
	<div class="accordion-section">
		<input class="accordion-section-title" name="#authors-block" type="button" data-i18n="[value]content.txtAuthors" />
		<div id="authors-block" class="accordion-section-content">	
			<div id="authors-list">			
			</div>				
			<form id= "add-author-form" method="POST" action="javascript:void(null);" >
				<input class="text-author" type="text"  maxlength="100" required data-i18n="[placeholder]content.addNewAuthor"/> 
				<input class="add-author btn-default" type="submit" data-i18n="[value]content.addNew" /> 			
			</form>     
		</div>
	</div>	
</div>
