<div class="accordion" id="sorted-menu">
	<div class="accordion-section">
		<input class="accordion-section-title" name="#tags-block" type="button" data-i18n="[value]content.txtTags" />
		<div id="tags-block" class="accordion-section-content">
		</div>
	</div>
	<div class="accordion-section">
		<input class="accordion-section-title" name="#authors-block" type="button" data-i18n="[value]content.txtAuthors" />
		<div id="authors-block" class="accordion-section-content">		
		</div>
	</div>
	<div class="accordion-section">
		<input class="accordion-section-title" name="#comments-block" type="button" data-i18n="[value]content.txtComments" />
		<div id="comments-block" class="accordion-section-content">
			<input class="link-view comment-top" title="5" type="button" data-i18n="[value]content.top_5" /> <br>
			<input class="link-view comment-top" title="20" type="button" data-i18n="[value]content.top_20" /> <br>
			<input class="link-view comment-top" title="100" type="button" data-i18n="[value]content.top_100" />
		</div>
	</div>
</div>
