<ul class="single-news-block view-all"> 
    <li>
    	<input type="hidden" id="newsId" value =""/>  
        <div id="modificationDate" class="modificationDate"></div>       
        <span id="title" class="title"></span>
        <div id="shortText" class="shortText" ></div>   
        <div id="fullText" class="fullText"></div>  
        
        <div class="news-tags-block menu-right">
        </div>
        
        <div class = "add-comment-block">   
        	<form id= "add-comment-form" method="POST" action="javascript:void(null);" >    
                <textarea class="new-comment-text" data-i18n="[placeholder]content.txtComment" rows="5" maxlength="300" required></textarea>
                <input class="add-comment btn-default" type="submit" data-i18n="[value]content.txtComment" />  
        	</form>      
        </div>
        
        <div class="news-comments-block">        	
        </div>
    </li>
</ul> 